.create-account {
  display: flex;
  flex-direction: column;
  width: 30%;
  
  
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
label {
  font-size: small;
  padding: 0.5em;
}
p {
  text-align: center;
  font-size: x-large;
}
