#dropdown-basic {
  background-color: #1d4383;
  position: absolute;
  /* top: -260px;
  left: -37%; */
  /* align-self: flex-start !important; */
  z-index: 999999;
 
}

#dropdowntwo-image {
  height: 29px;
  width: auto;
  
}

#dropdowntwo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: #1d4383;
  position: absolute;
  height: 55px;
  width: 45px; 
  /* top: -260px;
  left: -37%; */
  /* align-self: flex-start !important; */
  z-index: 999999;
  
 

}

#dropdowntwo-menu {
  position: absolute;
  z-index: 999999;
  background-color: white;
  
  
  width: 100px;
  
}