#dropdown-basic {
  background-color: #1d4383;
  position: absolute;
  /* top: -260px;
  left: -37%; */
  /* align-self: flex-start !important; */
  z-index: 999999;
 
}

#dropdowntwo-image {
  height: 29px;
  width: auto;
  
}

#dropdowntwo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: #cdcccc;
  position: absolute;
  height: 55px;
  width: 45px; 
  /* top: -260px;
  left: -37%; */
  /* align-self: flex-start !important; */
  z-index: 999999;
  
 

}
#filter-map-mobile-container {
  display: flex;
  position: fixed;
  bottom: 0;
  
  
  font-size: small;
  width: 100%;
  height: 75px;
  z-index: 10;
}
.filter-map-mobile-image {
  width: 60%;
  height: auto;
}
.filter-map-mobile-image-all {
  width: 60%;
  height: auto;
 
}
.filter-mobile-button {
  width: 19%;
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.filter-mobile-button-all {
  width: 19%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#dropdowntwo-menu {
  position: absolute;
  z-index: 999999;
  background-color: black;
  display: flex;
  color: white;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 375px;
  font-size: small;
  
}