.css-dmmspl-MuiFormGroup-root {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.filter-cms-titles {
  padding: 9px
}

.cms-filter-images{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  padding: 2px;
}

.radio-button-container {
  margin-left: 25px;
  margin-right: 25px;
}

.radio-button {
  display: flex;
  justify-content: center;
}

.css-1h7anqn {
  display: flex;
  
}

@media only screen and (min-width: 768px) {
  .css-1h7anqn {
    
    flex-flow: row !important;
  }
}