.css-dmmspl-MuiFormGroup-root {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.filter-cms-titles {
  padding: 9px
}

.cms-filter-images{
  height: 35px;
  width: 35px;
  background-color: black;
  
  
  margin-left: 5px;
  padding: 6px;
  
}
.cms-filter-images-croissant{
  height: 30px;
  width: 30px;
  background-color: black;
 
  padding: 2px;
  margin-left: 5px;
  transform: rotate(45deg)
  
  
}
.radio-button-image-container-croissant {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 100%;
  background-repeat: no-repeat;
background-size: 30px;
background-position: center;
  
}
.radio-button-image-container {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 100%;
  background-repeat: no-repeat;
background-size: 25px;
background-position: center;
margin-left: 1em;
  
}
.radio-button-container {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* background-color: #818181;
  border-radius: 10px;
  
  padding-right: 8px; */
}

.radio-button {
  display: flex;
  justify-content: center;
 
}

.css-1h7anqn {
  display: flex;
  
}

@media only screen and (min-width: 768px) {
  .css-1h7anqn {
    
    flex-flow: row !important;
  }
}