.footer-icon {
  width: 2em;
  height: 2em;
}

.footer {
  width: 100%;
  
  
 
  bottom: 0;
  background-color: #2e2e2e;
  height: 8em;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  color: #777;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}