.header {
  display: flex;
  position: sticky;
  height: 5em;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height:75%;
  width: 75%;
  margin-left: 1em;
}

#title {
  text-align: center;
  width: 100%;
  font-size: x-large;
  color: #818181;
}

.user-icon {
  height: 2em;
  width: auto;
  padding-right: 2em;
}
/* 
/* Dropdown Button */
/* .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  transform: translate(-100%, -100%);
} */

/* Links inside the dropdown */
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #ddd;
  
} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
  
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
  
} */ 