.header {
  display: flex;
  position: fixed;
  top: 0;
  height: 5em;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between !important;
  background-color: white;
  z-index: 99999999 !important;
  width: 100%;
}
.logo-container {
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.logo-container-mobile {
  
  
  align-items: center;
  justify-content: center;
}
#logo {
  width: 230px;
  height: auto;
}

#logo-mobile {
  width: auto;
  height: 60px;
}

.header-links {
  display: flex;
  justify-content: flex-end !important;
  width: 30%;
  align-items: center;
  
}
.search-container  {
  width: 20%;
}
a {
  text-decoration: none !important;
}
.user-icon {
  height: 2em;
  width: 2em;
  
}

.MuiList-root.MuiList-padding.css-h4y409-MuiList-root{
  display: flex;
  flex-direction: column;
}

.search-icon {
  height: 2em;
  width: 2em;
}
.user {
  
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.myaccount {
  font-size: x-small;
}
.logo-button {
  height: 100%;
  align-self: flex-start;
}
.small-button {
  background-color: white;
  border: none;
  font-size: small !important;
  align-self: center;
}

button {
  background-color: white;
  border: none;
}
.go-premium {
  display: flex;
  align-items: center;
  justify-content: center;
}
#composition-button {
  width: 40px;
  height: auto;
}
.news-deals-container {
  display: flex;
  width: 7em;
  align-items: center;
  justify-content: center;
}

.header-links-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-mobile {
  
  position: fixed;
  top: 0;
  height: 100px;
  padding: 10px 16px;
  padding-left: 0px !important;
  background-color: white;
  z-index: 99999999 !important;
  width: 100%;
}

.css-i4bv87-MuiSvgIcon-root {
  padding-right: 10px;
  height: 30px;
  width: auto;
}

#search-container-mobile {
  display: flex;
  justify-content: center;
}
/* 
/* Dropdown Button */
/* .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  transform: translate(-100%, -100%);
} */

/* Links inside the dropdown */
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #ddd;
  
} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
  
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
  
} */ 