.list-item.active {
  background-color: #E6EEF6 !important;
  
  
}
.list-group-item.active.premium {
  background-color: #E5E5E5 !important;

}
.title-business {
  font-size: 1.8em;
}
.list-item {
  height: 11em;
  
  color: #1d1d1d !important;
  font-weight: 400;
  
}
.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  width: 30%;
}
.css-1h77wgb > .MuiGrid-item  {
  width: 30% !important;
}
.list-item.list-group-item {
  background-color: none !important;
  padding: 0rem, 0rem !important;
  border: none !important;
  height: 100% !important;
  
}
.list-name{
  background-color: #d82f28;
  text-align: center;
}
.list-item.list-group-item.premium {
 width: 100%;
 width: 95%;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.cms-button-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marker-image-business {
  object-fit: cover;
  flex-shrink: 0;
    /* min-width: 100%;
    min-height: 100%; */
  border-radius: 10px;
  overflow: hidden;
  width: 66%;
}
.title-rating-cards {
  display: flex;
  flex-direction: column;
}
.infowrapper-business {
  display: flex;
  justify-content: column;
  font-size: 0.7em; 
  width: 90%; 
  height: 100%;
  
  background-color: #E6EEF6;
  border-radius: 10px;
  width: 100%;
}
.infowrapper-business.active {
  background-color: #E5E5E5 !important;
}

.marker-image-div-business {
  /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 33%;
  height: 100%;
}
.cms-cards.list-group {
  height: fit-content !important;
}

.list-item.list-group-item {
  height: fit-content;
  background-color: #E6EEF6;
  
}
.list-group-item {
  padding: 0px !important;
  
}

.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  margin: 8px;
}
.cms-button {
  
  background-color: #E6EEF6;
}
.cms-button-locate {
  
  background-color: #E6EEF6;
}

.list-item.list-group-item.premium {
  height: 30%;
}
/* .list-images {
  border-radius: 10%;
} */
.list-images {
 width: 100%;
 height: 20vh;
}

.cms-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
}
.cms-button-container-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
  height: fit-content;
}
h3.cms-card-title-each {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px !important;
  line-height: 1.2em;
  font-weight: 600;

}
.price-rating-cards {
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: space-between;
}
.price-rating-cards-cms {
  display: flex;
  align-items: center;
  
  width: 220px;
  justify-content: space-between;
}
.price-image {
  height:15px;
  width: auto;
  margin-right: 0.1em;
}
.cms-button-image {
  height: 20px;
  width: auto;
  
  margin-right: 10px;
}
.rating-star {
  height: 15px;
  width: auto;
}
.cms-marker-image {
  height: 45px;
  width: 45px;
  background-color: black;
  border-radius: 100%;
  background-repeat: no-repeat;
background-size: 30px;
background-position: center;

  
}
.cms-card-shop-title {
  text-align: left;
  font-size: 1.2em;
}
.business-button-image {
  height: 20px;
  width: auto;
  
  
}

.locate-container {
  display: flex;
  padding-bottom: 2em;
}

.locate-business-container {
  width: 50%;
  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.rating-business {
  padding-right: 0.1rem;
  display: flex;
  align-items: center;
}
.locate-button-business {
  background-color: #0957a5;
  border-radius: 100%;
  color: white;
  padding: 0.3rem;
  width: 40px;
  height: 40px;
  font-size: 0.5rem;
  margin-left: -25px;
}
.marker-information-cms {
  display: flex;
  flex-direction: row;
  padding: 3%;
  width: 66%;
}

@media only screen and (min-width: 767px)  {
  .cms-button-locate {
    display: flex;
    width: 100px;
    justify-content: space-around;
    background-color: #abb9d1;
    border-radius: 10px;
    padding: 3%;
  }
  .cms-button-image{
    margin-right: 0px;
  }
}