.list-item.active {
  color: #d82f28 !important;
  background-color: #d82f28 !important;
}
.list-item {
  height: 10em;
  color: #818181 !important;
  font-weight: 400;
  width: 25%
}


.list-name{
  background-color: #d82f28;
  text-align: center;
}