.list-item.active {
  color: #818181 !important;
  background-color: white !important;
  
}
.list-item {
  height: 11em;
  
  color: #1d1d1d !important;
  font-weight: 400;
  padding-left: 1rem !important;
}

.list-item.list-group-item {
  background-color: none !important;
  padding: 0rem, 0rem !important;
  border: none !important;
  height: 100% !important;
}
.list-name{
  background-color: #d82f28;
  text-align: center;
}
.list-item.list-group-item.premium {
 width: 100%;
 width: 95%;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.marker-image-business {
  object-fit: cover;
  flex-shrink: 0;
    /* min-width: 100%;
    min-height: 100%; */
  border-radius: 10%;
  overflow: hidden;
}

.infowrapper-business {
  display: flex;
  justify-content: column;
  font-size: x-small; 
  width: 90%; 
  height: 95%;
  padding: 3%;
  background-color: #ABB9D1;
  border-radius: 5px;
}

.marker-image-div-business {
  /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 65px;
  height: 65px;
}
.cms-cards.list-group {
  height: fit-content !important;
}

.list-item.list-group-item {
  height: fit-content;
  background-color: #ABB9D1;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-zow5z4-MuiGrid-root {
  padding-bottom: 2rem;
}
.cms-button {
  
  background-color: #ABB9D1;
}

.list-item.list-group-item.premium {
  height: 30%;
}
/* .list-images {
  border-radius: 10%;
} */
.list-images {
 width: 400px;
 height: 20vh;
}

.cms-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

h3.cms-card-title-each {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px !important;
  line-height: 1.2em;
  font-weight: 600;

}

.cms-button-image {
  height: 20px;
  width: auto;
  
  margin-right: 10px;
}

.locate-container {
  display: flex;
  padding-bottom: 2em;
}