.list-item.active {
  color: #d82f28 !important;
  background-color: white !important;
  font-size: small !important;
}
.list-item {
  height: 11em;
  color: #818181 !important;
  font-weight: 400;
  padding-left: 1rem !important;
}

.list-item.list-group-item {
  background-color: none !important;
  padding: 0rem, 0rem !important;
  border: none !important;
}
.list-name{
  background-color: #d82f28;
  text-align: center;
}

.marker-image-business {
  height: 9vh;
  width: auto;
}

.infowrapper-business {
  display: flex;
  justify-content: column;
  font-size: x-small;
}

.marker-image-div-business {
  padding-left: 0em;
}


