.register-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2em;
}

.choose-account-type {
  display: flex;
  justify-content: center;
  margin-top: 2em;
 
 
}

.foodie-panel {
  width: 30%;
  height: auto;
  text-align: left;
  
}
.business-panel {
  width: 30%;
  height: auto;
  text-align: left;
  
  
}





.login-button {
  padding-top: 1em;
  
  font-size: large;
  
}

.foodie-button {
  width: 100%;
  text-align: center;
}

.business-button {
  width: 100%;
  text-align: center;
}

.foodie-business-image {
  width: 100%;
  height: auto;
}