#marker-div {
  display: flex;
  flex-direction: column;
  font-family: nunito !important;
}

#marker-info {
  transform: translate(-50%, -100%);
  background-color: white;
  height: 30em;
  width: 25em;
  text-align: center;
  border-radius: 10%;
  color: #818181;
}

.title {
  font-size: medium;
}

.close {
  text-align: right;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

#actual-marker{
  height: 10em;
  width: 10em;
}