#marker-div {
  display: flex;
  flex-direction: column;
  font-family: nunito !important;
}

#marker-info {
  transform: translate(-50%, -100%);
  background-color: white;
  height: 20em;
  width: 40em;
  text-align: left;
  border-radius: 20px !important;
  color: #818181;
  z-index: 1;
  
}


.infowrapper {
  display: flex;
  justify-content: column !important;
}
.marker-information {
  margin-left: 2em;
}
.marker-image {
  height: 150px;
  width: auto;
  margin-left: 2em;
  border-radius: 10% !important;
}

.title {
  font-size: medium;
}
.rating {
  align-items: center;
}
.close {
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

#actual-marker{
  height: 10em;
  width: 10em;
}