#marker-div {
  display: flex;
  flex-direction: column;
  font-family: nunito !important;
}

#marker-info {
  transform: translate(-50%, -100%);
  background-color: white;
  height: 20em;
  width: 40em;
  text-align: left;
  border-radius:10px !important;
  color: #272424;
  z-index: 1;
  
}


.infowrapper {
  display: flex;
  justify-content: column !important;
}
.marker-information {
  margin-left: 2em;
  width: 66%
}
/* .marker-image {
  height: 100%;
  width: 30%;
  margin-left: 2em;
  border-radius: 10% !important;
} */
.marker-image-div-marker {
  /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    transform: translate(0%, -13.3%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 33%;
  height: 20em;
}
.rating-start-map {
  height: 12px;
  width: auto;
}

.title {
  font-size: medium;
}
.rating {
  display: flex;
  align-items: center;
}
.close {
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

#actual-marker{
  height: 10em;
  width: 10em;
}