.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.cms-cards {
  display: flex;
  overflow:hidden; 
  overflow-x:auto;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.premium-list {
  width: 32%;
  height: 100%;
}
.css-zow5z4-MuiGrid-root {
  width: 100%;
  justify-content: center;
}
.cms {
  height: 72vh !important;
}
h3 {
  color: #818181;
  text-align: center;
  font-size: medium !important;
}
.premium-map {
  display: flex;
  flex-direction: row !important;
  height: 76vh !important;
}

.cms-title {
  text-align: left;
  width: 100%;
}
#premium {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height:100%;
  align-items: center;
  margin-top: 15px;
}
.css-i9gxme {
  display: flex;
  align-items: center;
  width: 100%;
}
.list-bottom {
  display: flex;
  background-color: white;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  
  
}
.list-group {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
 
}

div.list {
  display: flex;
  flex-direction: column;
}

div.map {
  
  width: 68%
}

.list-group {
  width: 100%
}
/* .search-map {
  display: flex;
  width: 75%;
  justify-content: column !important;
}
 */
 .css-1h77wgb {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 !important;
  width: 100% !important;
  justify-content: center !important;
}

.main-container {
  margin-top: 5em;
  height: 100%;
}
.main-body {
  margin-top: 5em;
  height: 100%;
}
.main-body-main-page {
  margin-top: 5em;
  height: fit-content;
}
.main-container-all {
  height: 100%;
  
}
a {
  color: #818181 !important;
}

.main-body-show {
  height: fit-content;
}

.cmsArrow {
  height: 25px;
  width: auto;
  align-self: center;
}



.css-zow5z4-MuiGrid-root {
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
h2{
  display: inline-block;
    margin-top: 30px;
    margin-bottom: 15px !important;
    font-size: 25px !important;
    line-height: 1.2em;
    font-weight: 700;
    color: black;
    padding-left: 1em;
  padding-right: 10em;
}
.list-group-item {
  padding: none !important;
}
.css-1h77wgb > .MuiGrid-item  {
  padding-right: 2px !important;
  padding-left: 2px !important;
}
.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-right: 2px !important;
  padding-left: 2px !important;
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .list-images {
    width: 20rem;
    
  }
  .cms-cards.list-group {
    padding-right: 15rem;
    padding-left: 15rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list-images {
    width: 15rem;
    
  }
  .premium-map {
    flex-direction: column !important;
    height: 80vh !important;
  }
  .MuiAutocomplete-root .MuiAutocomplete-hasClearIcon .MuiAutocomplete-hasPopupIcon {
    width: 350px;
  }
  #premium {
    flex-direction: row !important;
    width: 100%;
    padding: none !important;
  }
  .list-item.list-group-item.premium {
    width: 30%;
    height: 100%;
  }
  div.cms {
    height: 80% !important;
  }
  div.map {
    width: 100%;
    height: 70%;
  }
  .premium-list {
    width: 100%;
    height: 30%;
  }
  .premium {
    width: 100%;
  }
  .list-item.list-group-item {
    width: 15rem;
  }
}

@media only screen and (max-width: 767px)  {
  .main-body-main-page {
    margin-top: 100px;
  }
  .premium-map {
    flex-direction: column-reverse !important;
    height: 142vh !important;
    align-items: flex-start;
  }
  .map {
    position: relative !important;
    height: 70vh !important;
    width: 100% !important;
  }
  .premium-list {
    height: 72vh;
    width: 100%;
  }
  #cms-title {
    text-align: center;
    width: 100%;
    padding: 25px, 25px !important;
}
h2 {
  padding: 25px;
  margin-top: 5px;
}
.list-bottom {
  justify-content: center;
  margin-top: 10px;
}
.css-dmmspl-MuiFormGroup-root {
  justify-content: center;
}
.list-images {
  width: 350px;
}
.MuiSvgIcon-root {
  width: 2em !important;
  height: 2em !important;
}
.css-1ps6pg7-MuiPaper-root {
  z-index: 9999999;
}
.choose-account-type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}
.business-panel {
  width: 100%;
  text-align: center;
}
.foodie-panel {
  width: 100%;
  text-align: center;
}
.main-body {
  height: fit-content;
  margin-bottom: 3%;
}
.css-1h7anqn {
  flex-wrap: wrap;
  flex-flow: none !important;
  justify-content: center !important;
}

#marker-info {
  
  height: 20em;
  width: 30em;
  transform: translate(-50%, -100%);
  background-color: white;
  
  text-align: left;
  border-radius: 20px !important;
  color: #818181;
  z-index: 1;
  
  
}
.marker-image {
  height: 89px;
  width: auto;
  margin-left: 2em;
  border-radius: 10% !important;
}
#filter-map-mobile-container {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: small;
}
.filter-map-mobile-image {
  width: 60%;
  height: auto;
}
.filter-mobile-button {
  width: 20%;
  text-align: center;
}
}