.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.cms-cards {
  overflow:hidden; 
  overflow-x:scroll;
}
.premium-list {
  width: 25%;
  height: 100%;
}
.cms {
  height: 72vh !important;
}
h3 {
  color: #818181;
  text-align: center;
  font-size: medium !important;
}
.premium-map {
  display: flex;
  flex-direction: row !important;
  height: 73vh !important;
}


#premium {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  
}
.list-group {
  display: flex;
  flex-direction: row !important;
}
div.list {
  display: flex;
  flex-direction: column;
}

div.map {
  
  width: 75%
}

.list-group {
  width: 100%
}
/* .search-map {
  display: flex;
  width: 75%;
  justify-content: column !important;
}
 */

.main-container {
  margin-top: 5em;
  height: 100%;
}
.main-body {
  margin-top: 5em;
  height: 100%;
}
.main-container-all {
  height: 100%;
  
}
