.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.cms-cards {
  overflow:hidden; 
  overflow-x:auto;
  width: 100%;
}
.premium-list {
  width: 25%;
  height: 100%;
}
.cms {
  height: 72vh !important;
}
h3 {
  color: #818181;
  text-align: center;
  font-size: medium !important;
}
.premium-map {
  display: flex;
  flex-direction: row !important;
  height: 73vh !important;
}

.cms-title {
  text-align: left;
}
#premium {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height:100%
  
}

.list-bottom {
  background-color: white;
  height: fit-content;
  width: 100%;
  
}
.list-group {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
 
}

div.list {
  display: flex;
  flex-direction: column;
}

div.map {
  
  width: 75%
}

.list-group {
  width: 100%
}
/* .search-map {
  display: flex;
  width: 75%;
  justify-content: column !important;
}
 */

.main-container {
  margin-top: 5em;
  height: 100%;
}
.main-body {
  margin-top: 5em;
  height: 100%;
}
.main-body-main-page {
  margin-top: 5em;
  height: fit-content;
}
.main-container-all {
  height: 100%;
  
}
a {
  color: #818181 !important;
}

.main-body-show {
  height: fit-content;
}

.cmsArrow {
  height: 25px;
  width: auto;
  align-self: center;
}

.cms-title {
  padding-left: 1em;
  padding-right: 10em;
  font-size: large !important;
  color: black;
}
.cms-title-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.cms-filter-button {
  font-family: nunito !important;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .list-images {
    width: 20rem;
    
  }
  .cms-cards.list-group {
    padding-right: 15rem;
    padding-left: 15rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list-images {
    width: 15rem;
    
  }
  .premium-map {
    flex-direction: column !important;
    height: 80vh !important;
  }
  .MuiAutocomplete-root .MuiAutocomplete-hasClearIcon .MuiAutocomplete-hasPopupIcon {
    width: 350px;
  }
  #premium {
    flex-direction: row !important;
    width: 100%;
    padding: none !important;
  }
  .list-item.list-group-item.premium {
    width: 30%;
    height: 100%;
  }
  div.cms {
    height: 80% !important;
  }
  div.map {
    width: 100%;
    height: 75%;
  }
  .premium-list {
    width: 100%;
    height: 25%;
  }
  .premium {
    width: 100%;
  }
  .list-item.list-group-item {
    width: 15rem;
  }
}