div.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  
}
.premium-list {
  width: 25%;
}

.premium-map {
  display: flex;
  flex-direction: row-reverse !important;
  width: 100%
}

#premium {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  
}
.list-group {
  display: flex;
  flex-direction: row !important;
}
div.list {
  display: flex;
  flex-direction: column;
}

div.map {
  
  width: 75%
}

.list-group {
  width: 100%
}


